<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Library</title>
	<link href="/styles/bootstrap.css" rel="stylesheet">
	<script src="/scripts/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/styles/styles.css?v=1.0">
	<title>Library</title>
</head>
<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container-fluid">
	          <a class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>
	          <a class="brand" href="http://hebsmarketing.com/Hebs_Emailer_Guide/index.php">HeBS Digital Email SOPs</a>
	          <div class="nav-collapse collapse" style="height: 0px;">
	            <ul class="nav">
	              <li><a href="index.php">HTML Emailer Guide For Developers</a></li>
	             <!-- <li ><a href="emailers.php">HTML Emailer Guide For Developers</a></li>-->
	              <li><a href="pm_checklist.php">HTML Emailer Checklist For Project Managers</a></li>
	              <li class="active"><a href="templates.php">Built-Out Template Library</a></li>
	              <!--<li ><a href="templates.php">Templates</a></li>-->
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>	
	<header class="jumbotron subhead" id="overview">
	     <div class="container">
	       <h1>Built-Out Emailer Templates</h1>
	       <p class="lead">List of emailer templates with HTML coding.</p>
	     </div>
	</header>

	{{{body}}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/scripts/handlebars-v4.0.10.js"></script>
<script src="/scripts/scripts.js"></script>	
</body>
</html>