<h1>Welcome</h1><br/>
<form method="post" action="">
	<p>
		<label>Is the template responsive:</label>
		<select name="responsive">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</select>
	</p>
	<p>
		<input type="text" name="client" id="client" placeholder="Client">
	</p>
	<p>
		<input type="text" name="url" id="url" placeholder="Please Enter Emailer URL Here">
	</p>
	<input type="submit">
</form>