<h1>Welcome</h1><br/>
<form method="post" action="">
	<p>
		<label>Is the template responsive:</label>
		<select>
			<option value="1">Yes</option>
			<option value="0">No</option>
		</select>
	</p>
	<p>
		<input type="text" name="client" id="client" placeholder="Client">
	</p>
	<p>
		<input type="text" name="email" id="email" placeholder="Please Enter Email Here">
	</p>
	<input type="submit">
</form>