<h1>Index</h1>


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span11 pagination-centered">
			<ul class="thumbnails">

				{{#each email}}
					<li class="span3 thumb">
						<div class="thumbnail">
							<img src="{{image_link}}">
							 {{#if responsive}}
							 <p>
							 	Responsive
							 </p>
							 {{/if}}
							<p>
								<a href="{{url}}">Template Link</a>
							</p>							
						</div>

					</li>
				{{/each}}

			</ul>
		</div>
	</div>
</div>